@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");
/**
*
* Testing
*
**/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  width: 10px;
  background-color: #ffffff;
  border-left: 0 solid #ffffff;
  border-right: 0 solid #ffffff;
  margin-block: 3px;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background-color: #ec1c24;
  width: 15% !important;
  height: 15% !important;
  border-radius: 50px;
}

::-webkit-scrollbar:hover {
  cursor: pointer;
}

::-moz-selection {
  /* code for firefox */
  color: #ffffff;
  background-color: #ec1c24;
}

::selection {
  /* code for firefox */
  color: #ffffff;
  background-color: #ec1c24;
}

/* end variables */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /*small*/
  /* tablet */
  /* Medium */
  /* desktop  */
}
@media (min-width: 577px) {
  .container {
    width: 550px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1300px) {
  .container {
    width: 1170px;
  }
}

/*! start variables*/
/*! end variables*/
/*! start Global Rules*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  line-height: 1.15;
  font-size: 18px;
}

body {
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/*! end Global Rules*/
/* Start Components */
.text-special img {
  max-width: 4rem;
}
.text-special .special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
@media (max-width: 768px) {
  .text-special .special-heading {
    font-size: 80px;
  }
}
@media (max-width: 460px) {
  .text-special .special-heading {
    font-size: 60px;
  }
}
@media (max-width: 360px) {
  .text-special .special-heading {
    font-size: 50px;
  }
}
.text-special #ted {
  font-size: 20px;
  text-align: center;
  color: #797979;
  position: relative;
}
.text-special #ted::after {
  content: "";
  position: absolute;
  width: 5rem;
  height: 0.125rem;
  background-color: #ec1c24;
  display: block;
  top: 130%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.gws-teaser {
  font-size: 1.25rem;
  font-weight: 500;
}
.gws-teaser::before {
  content: "";
  display: inline-block;
  height: 0.87rem;
  width: 1.875rem;
  margin-right: 1rem;
  background-color: #ec1c24;
}

.btn {
  outline-style: none;
  border: 1px solid #ec1c24;
  background-color: #ec1c24;
  color: #ffffff;
  overflow: hidden;
  transition: color 0.4s ease-in-out;
  position: relative;
  z-index: 10;
  width: 9rem;
  height: 3rem;
}
.btn a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: 500;
}
.btn::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #b70f16;
  transform-origin: center;
  transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
  transition: transform 0.45s ease-in-out;
}
.btn:hover {
  background: #b70f16;
  cursor: pointer;
  transition: 0.8s;
  color: #000000;
}
.btn:hover::before {
  transform: translate3d(-50%, -50%, 0) scale3d(20, 20, 20);
}

/* End Components */
header {
  margin: 1.125rem 0;
  max-height: 2rem;
  /* tablet */
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
header nav .logo {
  width: 200px;
}
header nav .nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  /* SEARCH */
  /* Search animated */
}
header nav .nav-content .items {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  margin-right: 3rem;
}
header nav .nav-content .items .nav-link {
  position: relative;
  transition: 0.3s;
}
header nav .nav-content .items .nav-link .item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  color: #000000;
  font-size: 0.875rem;
  font-family: "Rubik";
  font-weight: 400;
}
header nav .nav-content .items .nav-link .item-link::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: -0.5rem;
  left: 0;
  background-color: #ec1c24;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
header nav .nav-content .items .nav-link .item-link:hover {
  cursor: pointer;
}
header nav .nav-content .items .nav-link .item-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
  opacity: 0.8;
}
header nav .nav-content .down-arrow {
  width: 0.75rem;
}
header nav .nav-content .down-list {
  display: none;
}
header nav .nav-content .active img {
  transform: rotate(180deg);
  transition: 0.3s;
}
header nav .nav-content .active .down-list {
  display: block;
  position: absolute;
  transform: translate(-2rem, 2.75rem);
  top: 0rem;
  left: 0rem;
  z-index: 10;
  background-color: #ffffff;
  color: #000000;
  padding: 20px 30px;
  border-radius: 8px;
  box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.2);
}
header nav .nav-content .active .down-list .gws-teaser {
  white-space: nowrap;
  font-size: 0.75rem;
  font-weight: 600;
}
header nav .nav-content .active .down-list .gws-teaser a {
  color: #000000;
}
header nav .nav-content .active .down-list .gws-teaser a:hover {
  color: #ec1c24;
}
header nav .nav-content .active .down-list .gws-teaser::before {
  height: 0.7rem;
  width: 1.75rem;
  margin-right: 0.4rem;
  margin-block: -0.1rem;
}
header nav .nav-content .active .down-list .gws-teaser::after {
  content: "";
  display: block;
  width: auto;
  height: 0.025rem;
  margin-top: 0.75rem;
  background-color: #000000;
}
header nav .nav-content .active .down-list li {
  padding: 1rem 0 0;
  transition: 0.2s;
  width: fit-content;
}
header nav .nav-content .active .down-list li a {
  color: #000000;
  white-space: nowrap;
}
header nav .nav-content .active .down-list li a:hover {
  color: #ec1c24;
}
header nav .nav-content .active .down-list li:hover {
  transform: scale(1.04);
  transition: 0.2s;
}
header nav .nav-content .search {
  position: absolute;
  right: 0rem;
  width: 40px;
  height: 45px;
  background-color: #ffffff;
  box-shadow: 0 4px 24px hsla(222, 68%, 12%, 0.1);
  border-radius: 4rem;
  padding: 10px;
  z-index: 100;
  overflow: hidden;
  transition: width 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);
}
header nav .nav-content .search .search-input {
  border: none;
  outline: none;
  width: calc(100% - 64px);
  height: 100%;
  border-radius: 4rem;
  padding-left: 14px;
  font-size: 0.875rem;
  font-weight: 500;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.5s;
}
header nav .nav-content .search .search-input:-webkit-autofill {
  box-shadow: 0 0 0 100px #ffffff inset;
}
header nav .nav-content .search .search-button {
  width: 36px;
  height: 35px;
  background-color: #000000;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: transform 0.6s cubic-bezier(0.9, 0, 0.3, 0.9);
}
header nav .nav-content .search .search-button:hover {
  background-color: #ec1c24;
}
header nav .nav-content .search .search-icon,
header nav .nav-content .search .search-close {
  position: absolute;
  transition: opacity 0.5s cubic-bezier(0.9, 0, 0.3, 0.9);
}
header nav .nav-content .search .search-close {
  opacity: 0;
}
header nav .nav-content .show-search {
  width: 100%;
  width: 18rem;
}
header nav .nav-content .show-search .search-input {
  opacity: 1;
  pointer-events: initial;
}
header nav .nav-content .show-search .search-button {
  transform: rotate(90deg);
  right: 10px;
}
header nav .nav-content .show-search .search-icon {
  opacity: 0;
}
header nav .nav-content .show-search .search-close {
  opacity: 1;
}
header nav .nav-content .menu {
  display: none;
}
@media (max-width: 768px) {
  header nav .nav-content .items {
    display: none;
  }
  header nav .nav-content .add {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 4.25rem;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
  }
  header nav .nav-content .add .items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #ffffff;
    width: 60%;
    margin: 0rem;
    padding: 2.5rem 0 0 3rem;
    gap: 3rem;
    height: -webkit-fill-available;
  }
  header nav .nav-content .add .items .nav-link .item-link {
    color: #000000;
    justify-content: flex-start;
  }
  header nav .nav-content .add .items .nav-link .item-link::before {
    bottom: initial;
    top: 1.75rem;
    z-index: 100;
  }
  header nav .nav-content .active .down-list {
    display: block;
    position: relative;
    transform: translate(0rem, 0rem);
    top: 0rem;
    left: 0rem;
    z-index: 10;
    padding: 2rem 0px 0;
    border-radius: 0px;
    box-shadow: initial;
  }
  header nav .nav-content .menu {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
    position: relative;
    cursor: pointer;
    z-index: 10;
  }
  header nav .nav-content .menu .menu-toggle {
    width: 30px;
    height: 2px;
    background-color: #ec1c24;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
  }
  header nav .nav-content .menu .menu-toggle::before, header nav .nav-content .menu .menu-toggle::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #ec1c24;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
  }
  header nav .nav-content .menu .menu-toggle::before {
    transform: translateY(-8px);
  }
  header nav .nav-content .menu .menu-toggle::after {
    transform: translateY(8px);
  }
  header nav .nav-content .open .menu-toggle {
    transform: translateX(-50px);
    background: transparent;
  }
  header nav .nav-content .open .menu-toggle::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  header nav .nav-content .open .menu-toggle::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }
  header nav .nav-content .open:hover {
    opacity: 0.8;
    transform: scale(1.2);
    color: var(--bs-dark);
  }
  header nav .nav-content .search {
    right: 3.5rem;
  }
}
@media (max-width: 420px) {
  header nav .logo {
    width: 160px;
  }
  header nav .nav-content .add .items {
    width: 70%;
  }
  header nav .nav-content .search {
    right: 3rem;
  }
  header nav .nav-content .show-search {
    width: 14rem;
  }
}
@media (max-width: 360px) {
  header nav .logo {
    width: 150px;
  }
  header nav .nav-content .add .items {
    width: 80%;
    padding: 2.5rem 0 0 2rem;
  }
  header nav .nav-content .search {
    right: 2.5rem;
  }
  header nav .nav-content .show-search {
    width: 12rem;
  }
}

footer {
  padding: 4rem 0 2rem;
  background-image: url(../images/joanna-kosinska-h2O_jHvjfIM-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: max-content;
  position: relative;
  display: block;
}
footer .container .footer-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  color: #ffffff;
}
footer .container .footer-content .logo {
  width: 200px;
}
footer .container .footer-content .footer-links-group .footer-links-title {
  margin-bottom: 0.75rem;
  font-size: 1.125rem;
  font-weight: 500;
}
footer .container .footer-content .footer-links-group .footer-link-items .footer-link-item {
  padding: 0.125rem 0;
  transition: 0.3s;
  width: fit-content;
}
footer .container .footer-content .footer-links-group .footer-link-items .footer-link-item:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
footer .container .footer-content .footer-links-group .footer-link-items .footer-link-item .footer-link {
  color: #ebeced;
  transition: 0.3s;
  font-size: 0.875rem;
  font-weight: 400;
}
footer .container .footer-content .footer-links-group .footer-link-items .footer-link-item .footer-link:hover {
  color: #ec1c24;
}
footer .container .footer-content .footer-social .footer-social-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .container .footer-content .footer-social .footer-social-links a {
  width: max-content;
  text-decoration: none;
  margin: auto;
}
footer .container .footer-content .footer-social .footer-social-links a svg {
  width: 1.75rem;
  height: 1.75rem;
  transition: 0.3s;
}
footer .container .footer-content .footer-social .footer-social-links a svg path {
  fill: #ffffff;
}
footer .container .footer-content .footer-social .footer-social-links a svg:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
footer .container .footer-content .footer-social .footer-social-links a svg:hover path {
  fill: #ec1c24;
}
footer .container .footer-content .footer-social .footer-social-links a #twitter path {
  fill: #000000;
}
footer .container .footer-content .footer-social .footer-social-links a #twitter:hover path {
  fill: #ec1c24;
}
footer .container .footer-copyright {
  margin-top: 3rem;
}
footer .container .footer-copyright .footer-copyright-item {
  padding: 0.5rem 0rem;
}
footer .container .footer-copyright .footer-copyright-item a {
  color: #cfcfcf;
  transition: 0.3s;
}
footer .container .footer-copyright .footer-copyright-item a:hover {
  color: #ec1c24;
  transition: 0.3s;
  font-size: 1.1rem;
}
footer .container .footer-copyright .footer-copyright-txt {
  padding: 0.75rem 0 0;
  color: #797979;
}
@media (max-width: 768px) {
  footer .container .footer-content {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 2rem;
  }
  footer .container .footer-content .footer-links-group {
    text-align: center;
    margin: auto;
  }
  footer .container .footer-content .footer-links-group .footer-link-item {
    margin: auto;
  }
  footer .container .footer-copyright {
    padding-top: 1rem;
    text-align: center;
    margin: auto;
  }
}

/*! start code */
/*! start landing */
.landing {
  min-height: 20vh;
  background-color: #ebeced;
  background-image: url(../images/miguel-alcantara-kyFMU43tA08-unsplash.jpg);
  background-size: cover;
  position: relative;
  /* tablet */
}
.landing .text-content {
  position: absolute;
  width: max-content;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.landing .text-content .title {
  color: #ebeced;
  font-size: 4rem;
  font-weight: 600;
}
@media (max-width: 768px) {
  .landing .text-content .title {
    font-size: 3rem;
  }
}
@media (max-width: 480px) {
  .landing .text-content .title {
    font-size: 2rem;
  }
}

/*! start appliances */
.appliances .cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 2rem auto;
}
.appliances .cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 24%;
  padding: 1rem;
  transition: 0.2s;
  box-shadow: 0 6px 12px 1px rgb(220, 220, 220);
  position: relative;
  z-index: 1;
}
.appliances .cards .card .cheek-box {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #ffffff;
  width: 1.75rem;
  height: 1.75rem;
  text-align: center;
  padding-top: 0.25rem;
  border: 2px outset #ec1c24;
}
.appliances .cards .card .cheek-box img {
  opacity: 0;
  max-width: 70%;
}
.appliances .cards .card .show-cheek-mark img {
  opacity: 1;
}
.appliances .cards .card .image {
  width: 60%;
  transition: 0.2s;
  margin-top: 0.75rem;
}
.appliances .cards .card .image img {
  max-width: 100%;
}
.appliances .cards .card .text-content .name-device {
  color: #000000;
  font-size: 1.125rem;
  font-weight: 400;
}
.appliances .cards .card:hover {
  cursor: pointer;
  max-width: 26%;
  transition: 0.2s;
}
.appliances .cards .card:hover .image {
  width: 68%;
  transition: 0.2s;
}
.appliances .cards .card:hover .text-content .name-device {
  color: #ec1c24;
}
.appliances .cards .card:hover::before {
  content: "select";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.4rem;
  padding-top: 0.4rem;
  text-align: center;
  background-color: #ec1c24;
  color: #ffffff;
  z-index: 10;
}
@media (max-width: 768px) {
  .appliances .cards {
    flex-direction: column;
  }
  .appliances .cards .card {
    max-width: 60%;
  }
}

/*! start Products */
.Products {
  margin: 4rem auto;
}
.Products .Products-cards {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem 2rem;
}
.Products .Products-cards .Pro-card {
  max-width: 16rem;
  height: fit-content;
  padding: 1rem;
  border: 1px solid #ec1c24;
}
.Products .Products-cards .Pro-card .image-content {
  max-width: fit-content;
  text-align: center;
  margin: auto;
}
.Products .Products-cards .Pro-card .image-content img {
  width: 80%;
  max-height: 12rem;
}
.Products .Products-cards .Pro-card .text-content .product-model {
  font-size: 1rem !important;
  color: #ec1c24;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.Products .Products-cards .Pro-card .text-content .product-model::before {
  margin-right: 0.5rem;
}
.Products .Products-cards .Pro-card .text-content .product-title {
  margin: 0.5rem 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.Products .Products-cards .Pro-card .text-content .product-title a {
  font-size: 1.125rem;
  font-weight: 500;
}
.Products .Products-cards .Pro-card .text-content .product-subtitle {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.Products .Products-cards .Pro-card .text-content .product-desc {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.Products .Products-cards .Pro-card .text-content .product-features {
  list-style-type: circle;
  padding: 1rem 0 1.875rem 1.25rem;
  font-size: 0.875rem;
}
.Products .Products-cards .Pro-card .text-content .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Products .Products-cards .Pro-card .text-content .buttons .btn {
  width: 6rem;
}
.Products .Products-cards .Pro-card .text-content .buttons .add-to-cart a {
  word-break: keep-all;
  color: #000000;
  font-size: 1rem;
  font-weight: 500;
}
.Products .Products-cards .Pro-card .text-content .buttons .add-to-cart a:hover {
  color: #ec1c24;
}

.featuer {
  background-color: #ebeced;
  padding: 3rem 0;
}
.featuer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.featuer .container .dateg {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.featuer .container .dateg img {
  width: 2.8rem;
}
.featuer .container .dateg .text {
  font-size: 0.75rem;
}
.featuer .container .dateg .text .title {
  font-weight: 500;
}
@media (max-width: 768px) {
  .featuer .container {
    flex-direction: column;
    gap: 3rem;
    width: fit-content;
  }
  .featuer .container .dateg {
    gap: 1rem;
    flex-direction: column;
    text-align: center;
  }
}/*# sourceMappingURL=home-appliances.css.map */