// import globalStyle
@import "_globalStyle.scss";

/*! start code */
%con-images {
  position: relative;
  .master-image {
    max-width: 400px;
    width: max-content;
    margin-bottom: 28px;
    img {
      width: 100%;
      border-radius: 12px;
      cursor: pointer;
    }
    i {
      display: none;
    }
  }
  .all-images {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 26px;
    .thumbnails {
      max-width: 80px;
      max-height: 80px;
      img {
        width: 100%;
        border-radius: 12px;
        cursor: pointer;
      }
      &:hover {
        opacity: 0.8;
        transform: translateY(-8px);
        // transition: 0.5S;
      }
    }
    .active {
      border: 2px solid $colorRed;
      // border-radius: 12px;
      img {
        filter: blur(0.8px);
        opacity: 0.8;
      }
    }
  }
  @include media("<=480px") {
    .master-image {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      max-width: 22rem;
      transform: translate(-50%, 16%);
      img {
        border-radius: 0;
        cursor: auto;
      }
      i {
        display: block;
      }
      .fa-solid {
        position: absolute;
        padding: 14px 17px;
        border-radius: 50%;
        cursor: pointer;
        background-color: $colorNormal;
        color: $colorHeading;
        z-index: 80;
        &:hover {
          color: $colorRed;
        }
      }
      .next {
        top: 45%;
        right: 5%;
      }
      .previous {
        top: 45%;
        left: 5%;
      }
    }
    .all-images {
      display: none;
    }
  }
  @include media("<=410px") {
    .master-image {
      max-width: 20rem;
    }
  }
  @include media("<=375px") {
    .master-image {
      max-width: 18rem;
      transform: translate(-50%, 30%);
    }
  }
}

/*! start content */
.content {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 80px;
    padding: 80px 40px;
    position: relative;
    .basic-back {
      display: block;
      position: absolute;
      top: 2rem;
      left: 2rem;
      z-index: 1;
      transition: 0.2s;
      .back-link {
        color: $colorDark;
        img {
          width: 0.75rem;
          transform: rotate(90deg);
        }
      }
      &:hover {
        transform: scale(0.9);
        transition: 0.2s;
        .back-link {
          color: $colorRed;
        }
      }
    }
    .images {
      @extend %con-images;
    }
    .text-content {
      max-width: max-content;
      .product-model {
        font-size: 1rem !important;
        color: $colorRed;
        &::before {
          margin-right: 0.5rem;
        }
      }
      .product-title {
        padding: 0.5rem 0;
        a {
          font: {
            size: 1.125rem;
            weight: 500;
          }
        }
      }
      .product-subtitle {
        font-size: 1.2rem;
        padding-bottom: 0.5rem;
      }
      .product-desc {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
      }
      .product-features {
        list-style-type: circle;
        padding: 1rem 0 1.875rem 1.25rem;
        font-size: 0.875rem;
      }
      .product-prices {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 6px 12px;
        .new-price {
          color: $colorHeading;
          font: {
            size: 28px;
            weight: 700;
          }
        }
        .disc-price {
          background-color: rgb(255 0 0 / 20%);
          color: $colorRed;
          padding: 8px;
          border-radius: 12px;
          font: {
            size: 14px;
            weight: 700;
          }
        }
        .old-price {
          display: block;
          flex-basis: 100%;
          text-decoration: line-through;
          color: #b6bcc8;
          font: {
            size: 14px;
            weight: 700;
          }
        }
      }
      .ourder {
        margin: 30px auto;
      }
    }
    @include media("<=tablet") {
      flex-direction: column;
      .text-content {
        max-width: max-content;
        padding: 0 1.125rem;
      }
    }
    @include media("<=480px") {
      padding: 0;
      gap: 480px;
      .ourder {
        flex-direction: column;
        gap: 20px;
      }
    }
  }
}

/*! start style popup gallery */
.shadow-gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1000;
  background-color: rgb(0 0 0 / 30%);
  @extend %con-images;
  .master-image {
    position: relative;
    img {
      cursor: auto;
    }
    .fa-solid {
      display: block;
      position: absolute;
      background-color: white;
      padding: 14px 17px;
      border-radius: 50%;
      cursor: pointer;
      &:hover {
        color: $colorRed;
      }
    }
    .fa-chevron-right {
      top: 50%;
      right: -5%;
    }
    .fa-chevron-left {
      top: 50%;
      left: -5%;
    }
    .fa-xmark {
      top: -14%;
      right: 0%;
    }
  }
  @include media("<=tablet") {
    height: 140%;
  }
  @include media("<=480px") {
    display: none;
  }
}

/*! start cate banner bar */
.cate-banner-bar {
  background-image: linear-gradient(270deg, #000 20%, hsla(0, 0%, 100%, 0));
  padding: 1.25rem;
}

/*! start quick specs */
.quick-specs {
  background-color: $colorSubheading;
  .quick-specs-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    .quick-specs-item {
      height: 8rem;
      width: 9rem;
      padding: 1rem;
      .quick-specs-title {
        text-align: center;
        font: {
          size: 2rem;
          weight: 700;
        }
      }
      .quick-specs-desc {
        text-align: center;
        opacity: 0.9;
        padding-top: 1rem;
        font: {
          size: 0.75rem;
          weight: 400;
        }
      }
    }
    .quick-specs-item-line {
      &::after {
        content: "";
        display: block;
        position: relative;
        top: -50px;
        left: -15px;
        width: 1px;
        height: 4rem;
        background-color: #b3b3b3;
      }
    }
  }
  @include media("<=tablet") {
    .quick-specs-list {
      flex-direction: column;
      .quick-specs-item-line {
        &::after {
          content: "";
          top: -120px;
          left: 0px;
          width: -webkit-fill-available;
          height: 1px;
        }
      }
    }
  }
}

/*! start home text img */
.home-text-img {
  .left-text-right-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
    .text-info {
      max-width: 40%;
      .red-title {
        color: $colorRed;
        font-size: 1rem;
      }
      .richtxt-title {
        padding: 0.75rem 0;
        font: {
          size: 1.75rem;
          weight: 500;
        }
      }
    }
    .img-info {
      width: 50%;
      overflow: hidden;
      .img-info-img {
        max-width: 100%;
        transition: 0.2s;
      }
      &:hover {
        cursor: pointer;
        .img-info-img {
          transition: 0.2s;
          transform: scale(1.2);
        }
      }
    }
  }
  .reverse {
    flex-direction: row-reverse;
  }
  @include media("<=tablet") {
    .left-text-right-img {
      flex-direction: column-reverse;
      gap: 4rem;
      .text-info {
        max-width: 90%;
      }
      .img-info {
        width: 90%;
      }
    }
  }
}

/*! start innovation */
.innovation {
  padding: 4rem 0;
  .container {
    .service-section-title {
      font: {
        size: 1.75rem;
        weight: 500;
      }
      padding-bottom: 2rem;
      text-align: center;
      color: $colorDark;
      width: fit-content;
      margin: auto;
      &::after {
        content: "";
        position: relative;
        width: 5rem;
        height: 0.125rem;
        background-color: $colorRed;
        display: block;
        top: 0%;
        left: 0%;
        transform: translate(150%, 50%);
      }
    }
    .range-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .range-info {
        .range-title {
          font-size: 1.5rem;
        }
        .range-list {
          padding-top: 1rem;
          .range-list-li {
            font-size: 0.75rem;
            padding-bottom: 0.5rem;
            color: $colorDark;
            opacity: 0.9;
            position: relative;
            margin-left: 1rem;
            &::before {
              content: " ";
              position: absolute;
              left: -1rem;
              top: 0.2rem !important;
              display: inline-block;
              width: 0.48611vw;
              height: 0.48611vw;
              border: 1px solid #d4d4d4;
              background-color: #e8e8e8;
              border-radius: 50%;
              margin-right: 0.5rem;
            }
          }
        }
      }
      .range-top-center {
        width: 30%;
        img {
          max-width: 100%;
        }
      }
      .range-top-right {
        text-align: right;
        .range-list {
          margin-left: 0rem;
          margin-right: 1rem;
          .range-list-li::before {
            right: -1rem;
            left: auto;
            margin-left: 0.5rem;
            margin-right: 0;
          }
        }
      }
    }
  }
  @include media("<=600px") {
    .container {
      .range-top {
        flex-direction: column;
        .range-top-center {
          width: initial;
        }
        .range-top-right {
          text-align: left;
          .range-list .range-list-li::before {
            right: 0;
            left: -1rem;
            margin-left: 0rem;
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
}
/*! start specs */

.specs {
  .container {
    .specs-section-title {
      font: {
        size: 1.75rem;
        weight: 500;
      }
      padding-bottom: 2rem;
      text-align: center;
      color: $colorDark;
      width: fit-content;
      margin: auto;
      &::after {
        content: "";
        position: relative;
        width: 5rem;
        height: 0.125rem;
        background-color: $colorRed;
        display: block;
        top: 0%;
        left: 0%;
        transform: translate(8%, 50%);
      }
    }
    .product-organ {
      padding: 2rem 0;
      .product-organ-list {
        .product-organ-list-title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .first-title {
            font: {
              size: 1.125rem;
              weight: 500;
            }
          }
          .product-organ-list-title-right {
            display: block;
            color: $colorRed;
            .plus-sign,
            .minus-sign {
              cursor: pointer;
              font: {
                size: 2rem;
                weight: 400;
              }
            }
            .minus-sign {
              display: none;
            }
          }
        }
        .product-organ-list-content {
          display: none;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
          gap: 1rem;
          padding: 1rem 0;
          .product-organ-list-content-item {
            width: 13rem;
            .content-item-top {
              font: {
                size: 1rem;
                weight: 400;
              }
            }
            .content-item-bottom {
              padding-top: 1rem;
              opacity: 0.6;
              img {
                max-width: 1rem;
              }
            }
          }
        }
      }
      .organ-list-active {
        .product-organ-list-title .product-organ-list-title-right {
          .plus-sign {
            display: none;
          }
          .minus-sign {
            display: block;
          }
        }
        .product-organ-list-content {
          display: flex;
        }
      }
    }
  }
  @include media("<=530px") {
    .container {
      .product-organ
        .product-organ-list
        .product-organ-list-content
        .product-organ-list-content-item {
        width: 7rem;
      }
    }
  }
}
